/* Buttons */
.btn-primary {
    display: flex;
    height: 2.8125rem;
    padding: 0.5rem 1.125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: 1rem;
    background: var(--btn-accent-grad, linear-gradient(180deg, #9333EA 0%, #7E22CE 100%));

    /* btn-inner-out */
    box-shadow: 0 4px 4px 0 rgba(221, 214, 255, 0.25) inset;

    /* Text */
    color: var(--stone-100, #FAFAF9);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border: none;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
    filter: drop-shadow(0 8px 16px rgba(142, 81, 255, 0.25));
}

.btn-primary:active {
    background: linear-gradient(180deg, #7E22CE 0%, #8E51FF 100%);
    /* btn-inner-in */
    box-shadow: 0 4px 8px -1px rgba(53, 54, 75, 0.25) inset;
}
.btn-primary:disabled {
    background: linear-gradient(180deg, var(--accent-200), var(--accent-300));
    box-shadow: none;
    cursor: not-allowed;
    color: var(--stone-200, #F5F5F4);
}
.btn-primary:disabled svg path {
    stroke: var(--stone-200, #F5F5F4);
}
.btn-primary:disabled:hover {
    filter: none;
}
.btn-secondary {
    display: flex;
    height: 2.8125rem;
    padding: 0.5rem 1.125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    
    border-radius: 1rem;
    background: var(--btn-sec-grad, linear-gradient(180deg, #FAFAF9 0%, #D6D3D1 100%));

    /* btn-sec-inner-out */
    box-shadow: 0 0 4px 0 #E7E5E4 inset;
    /* Text */
    color: var(--text-primary, #78716C);

    /* text-bold */
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border: none;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.btn-secondary:hover {
    filter: drop-shadow(0 8px 16px rgba(214, 211, 209, 0.25));
}
.btn-secondary:active {
    background: linear-gradient(180deg, #D6D3D1 0%, #E9E8E7 73.08%, #DEDCDA 100%);

    /* btn-inner-in */
    box-shadow: 0 4px 8px -1px rgba(53, 54, 75, 0.25) inset;
}
.btn-secondary:disabled {
    background: linear-gradient(180deg, var(--stone-200), var(--stone-300));
    box-shadow: none;
    cursor: not-allowed;
    color: var(--stone-400);
}
.btn-secondary:disabled svg path {
    stroke: var(--stone-400);
}
.btn-sm {
    height: 2.25rem; padding: 0.375rem 1rem;
    font-size: var(--small-size);
}
.close-button {
    position: absolute;
    top: 5px;
    right: 8px;
    border: none;
    background: none;
    font-weight: bold;
    cursor: pointer;
}

.model-selector {
    display: flex;
    height: 2.8125rem;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    
    border-radius: 1rem;
    background: var(--btn-sec-grad, linear-gradient(180deg, #FAFAF9 0%, #D6D3D1 100%));

    /* btn-sec-inner-out */
    box-shadow: 0 0 4px 0 #E7E5E4 inset;
    /* Text */
    color: var(--text-primary, #78716C);

    /* text-bold */
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border: none;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.model-selector:hover {
    filter: drop-shadow(0 8px 16px rgba(214, 211, 209, 0.25));
}
.model-selector:active {
    background: linear-gradient(180deg, #D6D3D1 0%, #E9E8E7 73.08%, #DEDCDA 100%);

    /* btn-inner-in */
    box-shadow: 0 4px 8px -1px rgba(53, 54, 75, 0.25) inset;
}
.model-selector:disabled {
    background: linear-gradient(180deg, var(--stone-200), var(--stone-300));
    box-shadow: none;
    cursor: not-allowed;
    color: var(--stone-400);
}
.model-selector option {
    font-weight: var(--font-weight-normal);
}
.btn-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
}